.add-todo-section {

}

.error-input {
  border: 1px solid red;
}

.error-warning {
  margin-block: 8px;
  font-size: 14px;
  color: red;
}

.add-todo-input {
  width: 100%;
  display: flex;
}

.text-field {
  width: calc(100% - 70px);;
  height: 70px;
  font-size: 22px;
  padding-inline: 16px;
  color: #474448;
}

button {
  width: 120px;
  height: 70px;
  font-size: 16px;
  font-weight: 300;
  cursor: pointer;
}
