.todo-list {
  max-height: 550px;
  overflow-y: scroll;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

li {
  margin-inline-start: 16px;
}

.list-item {
  width: 100%;
  min-height: 45px;
  line-height: 45px;
  padding: 8px 16px;
  color: #474448;
  margin-block: 8px;
  background-color: #ffffffed ;
  display: flex;
  cursor: pointer;
}

.list-item:hover {
  opacity: 80%;
}

.completed {
  text-decoration: line-through;
}
